/*
 * The syntax light mode code snippet colors.
 */

@mixin light-syntax {
  /* --- custom light colors --- */
  --language-border-color: rgb(236, 236, 236);
  --highlight-bg-color: rgb(246, 248, 250);
  --highlighter-rouge-color: rgb(63, 89, 111);
  --highlight-lineno-color: rgb(158, 158, 158);
  --inline-code-bg: rgba(25, 25, 28, 0.05);
  --code-color: rgb(58, 58, 58);
  --code-header-text-color: rgb(163, 163, 163);
  --code-header-muted-color: rgb(229, 229, 229);
  --code-header-icon-color: rgb(201, 200, 200);
  --clipboard-checked-color: rgb(67, 199, 67);

  /* --- Syntax highlight theme from `rougify style github` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: rgb(36, 41, 47);
    background-color: rgb(246, 248, 250);
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: rgb(207, 34, 46);
  }

  .highlight .gr {
    color: rgb(246, 248, 250);
  }

  .highlight .gd {
    color: rgb(130, 7, 30);
    background-color: rgb(255, 235, 233);
  }

  .highlight .nb {
    color: rgb(149, 56, 0);
  }

  .highlight .nc {
    color: rgb(149, 56, 0);
  }

  .highlight .no {
    color: rgb(149, 56, 0);
  }

  .highlight .nn {
    color: rgb(149, 56, 0);
  }

  .highlight .sr {
    color: rgb(17, 99, 41);
  }

  .highlight .na {
    color: rgb(17, 99, 41);
  }

  .highlight .nt {
    color: rgb(17, 99, 41);
  }

  .highlight .gi {
    color: rgb(17, 99, 41);
    background-color: rgb(218, 251, 225);
  }

  .highlight .kc {
    color: rgb(5, 80, 174);
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: rgb(5, 80, 174);
  }

  .highlight .sb {
    color: rgb(5, 80, 174);
  }

  .highlight .bp {
    color: rgb(5, 80, 174);
  }

  .highlight .ne {
    color: rgb(5, 80, 174);
  }

  .highlight .nl {
    color: rgb(5, 80, 174);
  }

  .highlight .py {
    color: rgb(5, 80, 174);
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: rgb(5, 80, 174);
  }

  .highlight .o,
  .highlight .ow {
    color: rgb(5, 80, 174);
  }

  .highlight .gh {
    color: rgb(5, 80, 174);
    font-weight: bold;
  }

  .highlight .gu {
    color: rgb(5, 80, 174);
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: rgb(10, 48, 105);
  }

  .highlight .nd {
    color: rgb(130, 80, 223);
  }

  .highlight .nf,
  .highlight .fm {
    color: rgb(130, 80, 223);
  }

  .highlight .err {
    color: rgb(246, 248, 250);
    background-color: rgb(130, 7, 30);
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: rgb(104, 113, 122);
  }

  .highlight .gl {
    color: rgb(104, 113, 122);
  }

  .highlight .gt {
    color: rgb(104, 113, 122);
  }

  .highlight .ni {
    color: rgb(36, 41, 47);
  }

  .highlight .si {
    color: rgb(36, 41, 47);
  }

  .highlight .ge {
    color: rgb(36, 41, 47);
    font-style: italic;
  }

  .highlight .gs {
    color: rgb(36, 41, 47);
    font-weight: bold;
  }
} /* light-syntax */
