/*
 * The syntax dark mode styles.
 */

@mixin dark-syntax {
  --language-border-color: rgb(45, 45, 45);
  --highlight-bg-color: rgb(21, 21, 21);
  --highlighter-rouge-color: rgb(201, 222, 241);
  --highlight-lineno-color: rgb(128, 128, 128);
  --inline-code-bg: rgba(255, 255, 255, 0.05);
  --code-color: rgb(176, 176, 176);
  --code-header-text-color: rgb(106, 106, 106);
  --code-header-muted-color: rgb(53, 53, 53);
  --code-header-icon-color: rgb(86, 86, 86);
  --clipboard-checked-color: rgb(43, 204, 43);
  --filepath-text-color: rgb(202, 202, 202);

  .highlight .gp {
    color: rgb(135, 147, 157);
  }

  /* --- Syntax highlight theme from `rougify style base16.dark` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: rgb(208, 208, 208);
    background-color: rgb(21, 21, 21);
  }

  .highlight .err {
    color: rgb(21, 21, 21);
    background-color: rgb(172, 65, 66);
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: rgb(132, 132, 132);
  }

  .highlight .cp {
    color: rgb(244, 191, 117);
  }

  .highlight .nt {
    color: rgb(244, 191, 117);
  }

  .highlight .o,
  .highlight .ow {
    color: rgb(208, 208, 208);
  }

  .highlight .p,
  .highlight .pi {
    color: rgb(208, 208, 208);
  }

  .highlight .gi {
    color: rgb(144, 169, 89);
  }

  .highlight .gd {
    color: rgb(240, 138, 139);
    background-color: rgb(50, 0, 0);
  }

  .highlight .gh {
    color: rgb(106, 159, 181);
    background-color: rgb(21, 21, 21);
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: rgb(170, 117, 159);
  }

  .highlight .kc {
    color: rgb(210, 132, 69);
  }

  .highlight .kt {
    color: rgb(210, 132, 69);
  }

  .highlight .kd {
    color: rgb(210, 132, 69);
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: rgb(144, 169, 89);
  }

  .highlight .sa {
    color: rgb(170, 117, 159);
  }

  .highlight .sr {
    color: rgb(117, 181, 170);
  }

  .highlight .si {
    color: rgb(183, 109, 69);
  }

  .highlight .se {
    color: rgb(183, 109, 69);
  }

  .highlight .nn {
    color: rgb(244, 191, 117);
  }

  .highlight .nc {
    color: rgb(244, 191, 117);
  }

  .highlight .no {
    color: rgb(244, 191, 117);
  }

  .highlight .na {
    color: rgb(106, 159, 181);
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: rgb(144, 169, 89);
  }

  .highlight .ss {
    color: rgb(144, 169, 89);
  }
}
