/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  /* Framework color */
  --main-bg: rgb(24, 24, 32);
  --mask-bg: rgb(64, 64, 64);
  --main-border-color: rgb(48, 48, 48);

  /* Common color */
  --text-color: rgb(192, 192, 192);
  --text-muted-color: rgb(144, 144, 144);
  --text-muted-highlight-color: rgb(208, 208, 208);
  --heading-color: rgb(208, 208, 208);
  --label-color: rgb(160, 160, 160);
  --blockquote-border-color: rgb(66, 66, 66);
  --blockquote-text-color: rgb(144, 144, 144);
  --link-color: rgb(138, 180, 248);
  --link-underline-color: rgb(82, 108, 150);
  --button-bg: rgb(30, 30, 30);
  --btn-border-color: rgb(48, 48, 48);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: rgb(32, 32, 32);
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: rgb(41, 41, 41);
  --checkbox-color: rgb(118, 120, 121);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(22, 22, 24) 0%, rgb(32, 32, 32) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: rgb(192, 200, 208);
  // --site-subtitle-color: rgb(134, 134, 134);
  --sidebar-bg: rgb(32, 40, 48);
  --sidebar-border-color: rgb(32, 32, 32);
  --sidebar-muted-color: rgb(224, 224, 224);
  --sidebar-active-color: rgb(255, 255, 255, 0.95);
  --sidebar-hover-bg: rgb(48, 56, 64);
  --sidebar-btn-bg: rgb(16, 16, 16);
  --sidebar-btn-color: rgb(160, 160, 160);
  --avatar-border-color: rgb(200, 224, 255, 0.9);

  /* Topbar */
  --topbar-bg: rgb(24, 24, 32, 0.50);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgb(64, 64, 64);
  --search-icon-color: rgb(128, 128, 128);
  --input-focus-border-color: rgb(128, 128, 128);

  /* Home page */
  --post-list-text-color: rgb(192, 192, 192);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: rgb(48, 48, 48);

  /* Posts */
  --toc-highlight: rgb(128, 192, 255);
  --tag-hover: rgb(48, 48, 48);
  --tb-odd-bg: rgb(40, 40, 40); /* odd rows of the posts' table */
  --tb-even-bg: rgb(32, 32, 32); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: var(--sidebar-btn-color);
  --btn-share-hover-color: var(--sidebar-active-color);
  --card-bg: rgb(40, 40, 40);
  --card-hover-bg: rgb(48, 64, 80);
  --card-shadow: rgb(24, 24, 24, 0.72) 0 6px 18px 0,
    rgb(128, 128, 128, 0.24) 0 0 0 1px;
  --kbd-wrap-color: rgb(112, 112, 112);
  --kbd-text-color: rgb(224, 224, 224);
  --kbd-bg-color: rgb(32, 32, 32);
  --prompt-text-color: rgb(216, 212, 212, 0.75);
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: rgb(0, 117, 209);
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: rgb(205, 2, 2);

  /* tags */
  --tag-border: rgb(59, 79, 88);
  --tag-shadow: rgb(32, 33, 33);
  --dash-color: rgb(63, 65, 68);
  --search-tag-bg: rgb(40, 40, 40);

  /* categories */
  --categories-border: rgb(64, 66, 69, 0.5);
  --categories-hover-bg: rgb(73, 75, 76);
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: rgb(150, 152, 156);
  --timeline-color: rgb(63, 65, 68);
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26, 26, 30),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(26, 26, 30)
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */
